<a href="#b" id="b" accesskey="b" class="acc" title="下方選單連結區(B)">:::</a>
<div class="sponsors">
  <!--※ 提醒小幫手-->
  <!--贊助單位圖片的ALT要有圖片上每個贊助單位的名稱-->
  <img
    src="https://dummyimage.com/810x50/#e9ebee/000?retina=1&text=sponsors"
    alt="ALT要填寫圖片上每個贊助單位的名稱"
  />
</div>
<div class="mainfooter">
  <div class="side-left">
    <div class="copyright">
      <p>FAMOUS TRAVEL著作權所有</p>
      <p>Copyright © famous travel. All Rights Reserved.</p>
      <p>
        建議瀏覽器：IE11以上，Google Chrome最新版本
        (螢幕設定最佳顯示效果為1920*1080)
      </p>

      <!--※ 提醒小幫手-->
      <!--不需通過無障礙的網站請記得拿掉這兩個標章-->
      <!--需要通過無障礙的網站請記得先隱藏起來，取得標章後再顯示-->
      <div class="acc-mark">
        <a href="#" title="無障礙標章AA（另開視窗）" target="_blank"
          >無障礙標章AA</a
        >
      </div>
    </div>
  </div>
  <div class="side-right"></div>
</div>
